<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Grid</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" sizeSm class="ion-padding ion-text-center">
        <div>A</div>
      </ion-col>
      <ion-col size="3" sizeSm class="ion-padding ion-text-center">
        <div>B</div>
      </ion-col>
      <ion-col size="3" sizeSm class="ion-padding ion-text-center">
        <div>C</div>
      </ion-col>
      <ion-col size="12" sizeSm class="ion-padding ion-text-center">
        <div>1 of 4</div>
      </ion-col>
      <ion-col size="12" sizeSm class="ion-padding ion-text-center">
        <div>2 of 4</div>
      </ion-col>
      <ion-col size="12" sizeSm class="ion-padding ion-text-center">
        <div>3 of 4</div>
      </ion-col>
      <ion-col size="12" sizeSm class="ion-padding ion-text-center">
        <div>4 of 4</div>
      </ion-col>
            <ion-col size="12" sizeSm class="ion-padding ion-text-center">
        <div>1 of 4</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>